<div class="row d-flex justify-content-around">
    <div class="col-sm-1 px-4 border3">

    </div>
    <div class="col-sm-1 px-4 border3" data-aos-duration="3000" data-aos="fade-up">
        <img class="d-block photo m-auto" src="/images/icons/nodejs.png" alt="">
    </div>
    <div class="col-sm-1 px-4 border3" data-aos="fade-up" data-aos-duration="3000">
        <img class="d-block photo m-auto" src="/images/icons/mongo.png" alt="">
    </div>
    <!-- <div class="col-sm-1 px-4 border3" data-aos="fade-up" data-aos-duration="3000"></div> -->
    <div class="col-sm-1 px-4 border3" data-aos="fade-up" data-aos-duration="3000">
        <img class="d-block photo m-auto" src="/images/icons/react.png" alt="">
    </div>
    <div class="col-sm-1 px-4 border3" data-aos="fade-up" data-aos-duration="3000">
        <img class="d-block photo m-auto" src="/images/icons/vuejs.png" alt="">
    </div>
    <div class="col-sm-1 px-4 border3" data-aos="fade-up" data-aos-duration="3000">
        <img class="d-block photo m-auto" src="/images/icons/netbeans.png" alt="">
    </div>
    <div class="col-sm-1 px-4 border3" data-aos="fade-up" data-aos-duration="3000">
        <img class="d-block photo m-auto" src="/images/icons/tableau.png" alt="">
    </div>
    <div class="col-sm-1 px-4 border3" data-aos="fade-up" data-aos-duration="3000">
        <img class="d-block photo m-auto" src="/images/icons/xcode.png" alt="">
    </div>
    <div class="col-sm-1 px-4 border3" data-aos="fade-up" data-aos-duration="3000">
    </div>

</div>