<div class="row d-flex justify-content-around mt-4">
    <div class="col-sm-1 px-4 border3">

    </div>
    <div class="col-sm-1 px-4 border3" data-aos-duration="3000" data-aos="fade-up">
        <img class="d-block photo m-auto" src="/images/icons/github.png" alt="">
    </div>
    <div class="col-sm-1 px-4 border3" data-aos="fade-up" data-aos-duration="3000">
        <img class="d-block photo m-auto" src="/images/icons/postman.png" alt="">
    </div>
    <!-- <div class="col-sm-1 px-4 border3" data-aos="fade-up" data-aos-duration="3000"></div> -->
    <div class="col-sm-1 px-4 border3" data-aos="fade-up" data-aos-duration="3000">
        <img class="d-block photo m-auto" src="/images/icons/html.png" alt="">
    </div>
    <div class="col-sm-1 px-4 border3" data-aos="fade-up" data-aos-duration="3000">
        <img class="d-block photo m-auto" src="/images/icons/css.png" alt="">
    </div>
    <div class="col-sm-1 px-4 border3" data-aos="fade-up" data-aos-duration="3000">
        <img class="d-block photo m-auto" src="/images/icons/js.png" alt="">
    </div>
    <div class="col-sm-1 px-4 border3" data-aos="fade-up" data-aos-duration="3000">
        <img class="d-block photo m-auto" src="/images/icons/heroku.png" alt="">
    </div>
    <div class="col-sm-1 px-4 border3" data-aos="fade-up" data-aos-duration="3000">
    </div>

</div>