<div class="row d-flex justify-content-around mt-4">
    <div class="col-sm-1 px-4 border3" data-aos-duration="3000" data-aos="fade-up">
    </div>

    <!-- <div class="col-sm-1 px-4 border3" data-aos="fade-up" data-aos-duration="3000"></div> -->
    <div class="col-sm-1 px-4 border3" data-aos="fade-up" data-aos-duration="3000">
        <img class="d-block photo1 m-auto" src="/images/icons/excel.png" alt="">
    </div>
    <div class="col-sm-1 px-4 border3" data-aos="fade-up" data-aos-duration="3000">
        <img class="d-block photo1 m-auto" src="/images/icons/word.png" alt="">
    </div>
    <div class="col-sm-1 px-4 border3" data-aos="fade-up" data-aos-duration="3000">
        <img class="d-block photo1 m-auto" src="/images/icons/power.png" alt="">
    </div>
    <div class="col-sm-1 px-4 border3" data-aos="fade-up" data-aos-duration="3000">
        <img class="d-block photo1 m-auto" src="/images/icons/photoshop.png" alt="">
    </div>
    <div class="col-sm-1 px-4 border3" data-aos="fade-up" data-aos-duration="3000">
        <img class="d-block photo1 m-auto" src="/images/icons/ai.png" alt="">
    </div>
    <div class="col-sm-1 px-4 border3" data-aos="fade-up" data-aos-duration="3000">
        <img class="d-block photo1 m-auto" src="/images/icons/muse.png" alt="">
    </div>
    <div class="col-sm-1 px-4 border3" data-aos="fade-up" data-aos-duration="3000">
    </div>

</div>