<div class="parallax1 responsive">
    <br>
    <div class="contact">
        <div class="formclass">
            <form class="" action="mailto:ashwithgundu@gmail.com?subject=Enquiry" method="post" enctype="text/plain">
                <div class="row d-flex justify-content-around">
                    <div class="col-md-10 m-2">
                        <h2 class="contact_heading">Fill the Details</h2>
                    </div>

                    <div class="col-md-10 m-2">
                        <input class="form-control" name="Organization Name" placeholder="Organization Name" type="text">
                    </div>
                    <div class="col-md-10 m-2">
                        <input class="form-control" name="Message" placeholder="Enter Message" type="text">
                    </div>
                    <div class="col-md-10 m-2">
                        <input class="btn btn-lg btn-success btn-block" type="submit" id="" value="SEND">
                    </div>

                    <div class="col-md-10 m-2 contact_heading">
                        <a href="mailto:ashwithgundu@gmail.com">ashwithgundu@gmail.com</a>
                    </div>
                    <div class="col-md-10 m-2 contact_heading">

                        <a href="tel:+16605280658">+1 (660)-528-0658</a>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>