<div class="center">
    <h2 class="heading1">EDUCATION</h2>
    <div class="row d-flex justify-content-around">
        <div class="col-md-10 borderr">
            <div class="row">
                <div class="col-lg-2">
                        <a href="https://www.nwmissouri.edu/">
                        <img class="symbol" src="/images/avatars/northwest.png" alt="">
                    </a>
                    
                </div>
                <div class="col-lg-7 pl-4">
                    <h3 class="universityName">Northwest Misssouri State University</h3>
                    <h4 class="universityName">Applied Computer Science</h4>
                    <p class="univ_para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, enim.</p>
                </div>
                <div class="col-lg border1">
                    <h3 class="universityName">2017 - 2018</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-around">
        <div class="col-md-10 borderr">
            <div class="row">
                <div class="col-lg-2 ">
                    <a href="">
                        <img class="symbol" src="/images/avatars/jntuh.png" alt="">
                    </a>
                </div>
                <div class="col-lg-7 pl-4">
                    <h3 class="universityName">Jawaharlal Nehru Technological University</h3>
                    <h4 class="universityName">Keshav Memorial Institute of Technology</h4>
                    <h5 class="universityName">Computer Science Engineering</h5>
                    <p class="univ_para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, enim.</p>
                </div>
                <div class="col-lg border1">
                    <h3 class="universityName">2013 - 2017</h3>
                </div>
            </div>
        </div>
    </div>
</div>