<div style="height: 200px; background-color: rgb(0, 1, 7);">
    <div class="sg">
        <div id="sign">

            <div id="sign_inside" class="dim mx-auto">
                <svg width="250" height="110" xmlns="http://www.w3.org/2000/svg">
                    <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
                    <g>
                        <title>background</title>
                        <rect fill="rgba(0, 0, 0, 0)" id="canvas_background" height="110" width="250" y="-1" x="-1" />
                        <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
                            <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%" />
                        </g>
                    </g>
                    <g>
                        <title>Layer 1</title>
                        <path class="line1" id="svg_19" d="m74.75004,84.21874c-44.49998,11.5 -10,-86.99996 -23.99999,-41.49998c-14,45.49998 -18.99999,48.99998 -19.25007,48.78119c0.25008,0.21879 19.75007,-28.2812 34.25006,-28.2812c14.49999,0 -34.99998,-1 -37.99998,-9.5c-3,-8.49999 34.99998,29.99999 34.49998,35.49999c-0.5,5.49999 21.99999,-17.49999 21.74992,-17.71878c0.25007,0.21879 1.75007,-7.28121 1.5,-7.49999c0.25007,0.21878 -6.74993,4.21878 -7,4c0.25007,0.21878 0.25007,7.71877 3.75007,9.71877c3.5,2 8.5,4 8.5,4.5c0,0.5 3,5.5 -3,5.5c-6,0 9,-2.5 8.74992,-2.71878c0.25008,0.21878 15.25007,-27.28121 14.25007,-34.7812c-1,-7.5 -4,-16 -4.25007,-16.21878c0.25007,0.21878 -9.24992,-24.7812 -5.74993,13.21878c3.5,37.99998 3,38.49998 2.74993,38.2812c0.25007,0.21878 -2.74993,-14.28121 4.75007,-19.28121c7.5,-5 13.49999,2.5 13.24992,2.28122c0.25007,0.21878 0.75007,13.71877 0.5,13.49999c0.25007,0.21878 6.25007,-0.28122 6,-0.5c0.25007,0.21878 3.25007,-24.28121 3.25007,-13.78121c0,10.49999 0,15.49999 -0.25008,15.28121c0.25008,0.21878 0.75008,5.71878 4.25008,0.21878c3.5,-5.5 3.5,-14.49999 3.24992,-14.71877c0.25008,0.21878 2.25007,12.71877 2,12.49999c0.25007,0.21878 -0.24992,6.21878 5.25007,3.21878c5.5,-3 2.5,-17.99999 2.24993,-18.21877c0.25007,0.21878 8.75007,-0.28122 8.49999,-0.5c0.25008,0.21878 -0.74992,15.21877 -1,14.99999c0.25008,0.21878 2.25008,4.21878 5.25008,0.21878c2.99999,-4 8.49999,-32.49998 8.24992,-32.71876c0.25007,0.21878 0.75007,-19.78121 0.5,-19.99999c0.25007,0.21878 -1.24993,-3.78122 -1.24993,-4.28122c0,-0.5 -4,4 -4.25007,3.78122c0.25007,0.21878 -0.24993,47.71875 3.75007,51.71875c4,4 9.5,-2 9.24992,-2.21878c0.25008,0.21878 12.25007,-37.7812 12,-37.99998c0.25007,0.21878 1.25007,-15.28121 1,-15.49999c0.25007,0.21878 -4.24993,-2.28122 -5,-0.5c-0.24993,-1.78122 -2.74993,-14.28121 -2.24993,20.71877c0.5,34.99998 0.5,37.49998 0.24993,37.2812c0.25007,0.21878 2.75007,-17.28121 2.75007,-18.28121c0,-1 -0.5,-6.5 5.5,-6c6,0.5 9.5,2.5 9.24992,2.28122c0.25008,0.21878 0.25008,1.21878 0.25008,10.71878c0,9.49999 1,11.99999 0.74992,11.78121c0.25008,0.21878 -0.24992,3.71878 3.25007,0.71878c3.5,-3 2.5,-7 2.24993,-7.21878"
                            opacity="0.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000"
                            fill="none" />
                        <path class="line2" stroke="#000" id="svg_24" d="m156.67606,42.51342c0,0 33.0397,0.86529 45.96828,-3.02853c12.92858,-3.89382 20.11112,-9.51824 19.87163,-9.70755c0.23949,0.18931 6.46436,-4.13716 2.63367,-8.03099c-3.83069,-3.89382 -20.11112,-6.05706 -20.35061,-6.24637c0.23949,0.18931 -24.18116,0.18931 -24.42065,0c0.23949,0.18931 -34.71555,0.62196 -34.95504,0.43265c0.23949,0.18931 -51.47482,1.9199 -51.71431,1.73059c0.23949,0.18931 -14.1256,-0.24334 -22.74465,0.62196c-8.61905,0.86529 -22.98414,2.16324 -23.46297,2.16324c-0.47884,0 -11.97091,3.46118 -12.92858,3.89382c-0.95767,0.43265 -2.39418,-0.43265 -4.78836,4.32647c-2.39418,4.75912 -2.39418,2.59588 -2.63367,2.40657c0.23949,0.18931 -3.11237,5.81372 -4.54887,14.89931c-1.43651,9.08559 -2.39418,9.51824 -2.87302,15.5753c-0.47884,6.05706 -0.47884,11.24883 -0.47884,15.5753c0,4.32647 6.70371,13.41206 6.46422,13.22275c0.23949,0.18931 8.3797,6.67902 21.30828,9.2749c12.92858,2.59588 13.88625,2.59588 30.16668,2.59588c16.28043,0 81.88099,0 88.5847,-1.73059c6.70371,-1.73059 46.44711,-2.59588 48.84129,-4.75912c2.39418,-2.16324 8.14022,-3.02853 9.57672,-9.08559c1.43651,-6.05706 2.39418,-17.30589 -1.43651,-18.60383c-3.83069,-1.29794 -3.83069,-0.86529 -3.83069,-1.29794c0,-0.43265 -4.30953,-4.32647 -4.54902,-4.51578c0.23949,0.18931 26.09665,-0.24334 25.85716,-0.43265c0.23949,0.18931 5.02785,0.18931 4.78836,0c0.23949,0.18931 -4.07003,-2.40657 -7.90072,7.54431c-3.83069,9.95088 -3.83069,17.30589 -4.07018,17.11658c0.23949,0.18931 4.54902,5.38108 4.30953,5.19177c0.23949,0.18931 8.37971,2.78519 8.14022,2.59588"
                            opacity="0.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="none" />
                    </g>
                </svg>
            </div>
        </div>
    </div>
    <div class="datee align-text-bottom text-center text-light">
        &copy;
        <%= title %>
    </div>

</div>