<div style="height: 200px; background-color: rgb(0, 1, 7);">
    <div class="sg">
        <div id="sign">

            <div id="sign_inside" class="dim mx-auto">
                <svg width="250" height="110" xmlns="http://www.w3.org/2000/svg">
                    <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
                    <g>
                        <title>background</title>
                        <rect fill="rgba(0, 0, 0, 0)" id="canvas_background" height="110" width="250" y="-1" x="-1" />
                        <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
                            <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%" />
                        </g>
                    </g>
                    <g>
                        <title>Layer 1</title>
                        <path class="line1" id="svg_19" d="m76.64086,88.86739c-0.01014,-0.02972 -0.02677,-0.073 -0.04968,-0.12942c-0.02292,-0.05641 -0.05212,-0.12595 -0.08741,-0.20819c-0.17118,-0.39159
                        -0.40637,-0.91689 -0.47631,-1.07145c-0.57467,-1.25933 0.12951,0.2611 -0.77166,-1.68751c-0.90116,-1.94861 -2.91829,-6.27465
                        -3.24926,-6.98161c-0.66196,-1.41389 10.13829,23.23751 -2.12714,-4.53452c-12.26544,-27.77202 -17.64624,-58.63525 -16.48482,-44.84614c1.16144,13.7891
                        -16.88505,57.56355 -18.75133,59.67466c-1.86629,2.11111 9.11949,-12.05035 20.22772,-19.46899c11.10824,-7.41865 24.04625,-24.2553
                        19.98921,-19.71591c-2.02852,2.26969 -20.21142,9.54082 -31.71502,3.31824c-11.5036,-6.22258 -6.81678,-3.07427 -13.7402,-8.18052c-6.92343,-5.10625
                        -3.0201,7.66186 18.11106,18.79484c21.13116,11.13298 27.96991,23.35021 29.49803,25.04548c1.52812,1.69527 11.62064,-23.72265
                        15.60328,-28.80124c3.98264,-5.0786 -6.13404,-3.58446 -10.32448,3.1074c-4.19043,6.69186 15.19453,12.19898 13.3255,20.73355c-1.86902,8.53455
                        -9.0088,8.83235 -13.73164,4.47338c-4.72286,-4.359 0.66805,1.53902 4.5361,2.20142c1.93404,0.3312 4.90763,1.1524 8.14095,-1.54084c3.23329,-2.69325
                        6.1858,-6.04787 6.99656,-8.36219c1.62155,-4.62864 6.05406,-47.17327 5.08107,-50.21676c-0.97298,-3.04349 -1.45948,-2.09299
                        -1.6185,-2.25761c-2.43548,-1.07172 -3.08428,2.44723 -3.08428,2.44723c-1.29725,1.52166 4.37842,61.82033 3.89196,54.02191c-0.27025,8.24222
                        0,-17.8805 -0.15902,-18.04512c1.21303,-8.48981 5.79425,-7.0161 5.51361,-7.22827c-0.28064,-0.21217 6.1655,-0.82996 7.4596,3.55082c1.2941,4.38079
                        -0.13349,20.33517 0.16222,21.2417c0.29572,0.90652 1.52464,3.58643 2.93001,1.15306c1.40537,-2.43338 1.98567,-6.09368 2.58331,-10.3159c0.59763,-4.22222
                        1.61874,-12.04115 1.45972,-12.20577c0.15902,0.16462 0.40222,21.46877 2.02692,21.77967c3.96987,2.35211 4.67909,-1.30575 5.32459,-3.36021c0.64549,-2.05444
                        1.24637,-5.45911 1.4054,-6.62594c0.15904,-1.16683 0.15904,-4.02018 0,-4.1848c-0.65174,0.35483 -0.57808,15.89259 5.05401,15.15377c5.6321,-0.73882
                        4.83493,-21.83698 4.6759,-22.0016c-0.97606,2.54221 5.99698,0.92549 5.83794,0.76087c-1.94899,1.30587 -2.05667,17.25284 0.676,20.13139c2.73265,2.87857
                        4.97565,1.89547 6.94571,-0.79276c1.97008,-2.68823 6.55579,-11.82887 6.51364,-29.38895c-0.04216,-17.56006 1.38256,-27.52089
                        -2.11055,-27.08127c-3.49311,0.43961 -0.4609,52.29149 4.94504,57.39551c5.40594,5.10402 8.94649,-5.42073 9.19286,-5.10983c0.48333,-0.12069
                        11.61827,-38.73564 5.59162,-51.00431c-6.02664,-12.26867 -0.6758,54.21212 -0.45959,50.85183c1.18913,16.35764 -2.04753,-14.91306
                        5.02989,-21.34203c7.07741,-6.42899 9.56497,9.92895 9.56497,10.68982l0.09257,5.06357l0.09259,5.12697c13.48023,0.85765 0.98162,13.65522
                        -0.01986,-3.12687"
                            opacity="0.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000"
                            fill="none" />
                        <path class="line2" stroke="#000" id="svg_24" d="m151.10252,49.56032c30.16435,4.52432 56.61618,-2.07861 56.38817,-2.25201c0.69207,0.1734 22.03915,-14.2372 -0.46406,-25.21856c-54.99597,-22.64339
                        -189.5754,-17.43957 -197.69252,40.02946c0.22799,68.22352 189.56732,26.59286 193.51591,26.41946c11.36562,-3.42926 29.58627,-7.6923
                        11.13761,-18.01326c-18.44868,-10.32095 -4.58569,-5.07376 12.23675,-7.87584c8.41121,-1.40104 20.11465,-3.08384 9.86218,6.52231c-10.25249,9.60613
                        -7.65587,16.6559 0.64034,22.21667"
                            opacity="0.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="none" />
                    </g>
                </svg>
            </div>
        </div>
    </div>
    <div class="datee align-text-bottom text-center text-light">
        &copy;
        <%= title %>
    </div>

</div>