<div style="height: 200px; background-color: rgb(73, 57, 54);">

<div id="sign">

<div id="sign_inside" class="dim mx-auto">
            <svg id="signature" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 160.6 80" xml:space="preserve">
                <path class="line1" d="M3.073,6.044c0,0,1.31,18.664,0,27.833" />
                <path class="line2" d="M12.242,1.788c0,0,0.218,35.254-1.201,40.166" />
                <path class="line3" d="M15.844,18.16c0,0-11.57,1.092-14.189,2.62" />
                <path class="line4" d="M14.843,24.281c0,0,8.95-4.257,10.042-3.383c0,0-0.328,3.383,1.201,3.383c0,0,7.204-2.074,7.641-1.091" />
                <path class="line5" d="M39.829,9.073c0,0-0.737,21.12-3.192,26.522" />
                <path class="line6" d="M31.97,14.067c0,0,12.361-5.321,18.5-7.204S32.845,23.625,38.232,21.871c8.882-2.893,16.445,0.547,15.185,4.229
	c-2.617,7.648-21.284,12.279-29.306,13.671" />
                <path class="line7" d="M56.337,24.281c0,0,8.95-4.257,10.042-3.383c0,0-0.328,3.383,1.201,3.383c0,0,7.203-2.074,7.64-1.091
	c0,0-2.183,4.693,2.073,3.929c0,0,10.261,0.655,24.341-0.982c0,0,12.442-1.855,25.213,3.274" />

            </svg>
        </div>
    </div>
<div class="datee align-text-bottom text-center">
        &copy;
        <%= title %>
    </div>

</div>