<div class="white">

    <% include icons_folder/row1 %>
    <!-- 2nd row -->
    <% include icons_folder/row2 %>
    <!-- third row -->
    <% include icons_folder/row3 %>
    <!-- end 3rd row -->

</div>