<div class="" style=" background-color: red;">
    <h2 class="heading1">JAVA Report Generation</h2>
    <div class="row d-flex justify-content-around m-1 mar ">
        <div class="col-lg-5 border2 d-none d-md-block d-lg-block d-xl-block align-middle align-self-center">hi
<div class="" style=" border: 4px solid transparent;">
                <p>et praesentium nobis expedita similique beatae tenetur. Distinctio</p>
                <p>et praesentium nobis expedita similique beatae tenetur. Distinctio</p>
                <p>et praesentium nobis expedita similique beatae tenetur. Distinctio</p>
            </div>
        </div>
        <div class="col-lg-6  " style=" border: 4px solid transparent;">
            <div id="ee1" class="e1 " data-aos="fade-down-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <!-- <img  > -->
<div id="a1" onClick="c1()"></div>
            </div>
            <div id="ee2" class="e2" data-aos="fade-up-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <img class=" excel_pic m-auto" src="/images/a1.png" onClick="c2()">
            </div>
        </div>
        <!-- <div class="row excel_text"> -->
            <div class="col-sm-12 border2 imgexe d-md-none d-lg-none d-xl-none" >hi
                <p>et praesentium nobis expedita similique beatae tenetur. Distinctio</p>
                <p>et praesentium nobis expedita similique beatae tenetur. Distinctio</p>
                <p>et praesentium nobis expedita similique beatae tenetur. Distinctio</p>
            </div>
        <!-- </div> -->
    </div>
</div>