<div class="center">
    <h2 class="heading1">JAVA Report Generation</h2>
    <div class="row d-flex justify-content-around m-5">
        <div class="col-lg-3 border2">hi
            <p>et praesentium nobis expedita similique beatae tenetur. Distinctio</p>
            <p>et praesentium nobis expedita similique beatae tenetur. Distinctio</p>
            <p>et praesentium nobis expedita similique beatae tenetur. Distinctio</p>
        </div>
        <div class="col-lg-7 border2">


            <div id="ee1" class="e1" data-aos="fade-down-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000" >
            <img onClick="c1()"
                class=" excel_pic m-auto" src="/images/coast.jpg">
            </div>

                <div id="ee2" class="e2" data-aos="fade-up-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" >
                <img class=" excel_pic m-auto" src="/images/map.jpg" onClick="c2()">
            </div>

        </div>
    </div>
</div>