<div>
    <h2 class="heading1">JAVA Report Generation</h2>
    <div class="row align-items-center justify-content-around">
<div class="col-lg-4 p-4 " style="border: 3px solid transparent;" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"
    data-aos-duration="2000">
            <div class="py-5 matter">
                <p> To make the work automated I developed a <kbd class="text-dark bg-white">Java</kbd> program using
                    NetBeans as
                    IDE by using an external
                    library <kbd class="text-dark bg-white">Apache POI</kbd>.</p>
                <p>Task involved reading data from one excel sheet nothing but the input to the application and finally
                    giving the
                    required output in another <kbd class="text-dark bg-white">excel</kbd> file in the desired format
                    where it
                    reduces the manual tasks that
                    are to be done
                    often.</p>

            </div>
        </div>
        <div class="col-lg-5 align-self-start" style=" border: 3px solid transparent">
            <div id="ee1" class="e1 " data-aos="fade-down-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <!-- <img  > -->
                <div id="a1" onClick="c1()"></div>
            </div>
            <div id="ee2" class="e2" data-aos="fade-up-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <img class=" excel_pic m-auto" src="/images/a1.png" onClick="c2()">
            </div>
        </div>
    </div>

</div>
</div>