<div class="">
    <h2 class="heading1">JAVA Report Generation</h2>
    <div class="row d-flex justify-content-around m-1 mar">
<div class="col-lg-5 border2 d-none d-md-block d-lg-block d-xl-block">hi
            <p>et praesentium nobis expedita similique beatae tenetur. Distinctio</p>
            <p>et praesentium nobis expedita similique beatae tenetur. Distinctio</p>
            <p>et praesentium nobis expedita similique beatae tenetur. Distinctio</p>
        </div>
<div class="col-lg-6 ">


            <div id="ee1" class="e1" data-aos="fade-down-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
<img onClick="c1()" class=" excel_pic m-auto " src="/images/a2.png">
            </div>

            <div id="ee2" class="e2" data-aos="fade-up-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <img class=" excel_pic m-auto" src="/images/a1.png" onClick="c2()">
            </div>

        </div>

    <div class="row margintop">
<div class="col-sm-12 border2 imgexe d-md-none d-lg-none d-xl-none">hi
    <p>et praesentium nobis expedita similique beatae tenetur. Distinctio</p>
    <p>et praesentium nobis expedita similique beatae tenetur. Distinctio</p>
    <p>et praesentium nobis expedita similique beatae tenetur. Distinctio</p>
</div>
</div>
    </div>
</div>