<div>
    <h2 class="heading1">JAVA Report Generation</h2>
    <div class="row align-items-center justify-content-around">
        <div class="col-lg-4 p-4 " style="border: 3px solid transparent;">
            <p class="py-5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis possimus doloribus ut culpa, ducimus
                repudiandae voluptate iste magnam ex ad, sint illum quod in beatae reprehenderxime magni
                distinctio corporis a consequuntur. Odit, fuga! Iusto eos incidunt eum facere natus.
            </p>
        </div>
        <div class="col-lg-5 align-self-start" style=" border: 3px solid transparent">
            <div id="ee1" class="e1 " data-aos="fade-down-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <!-- <img  > -->
                <div id="a1" onClick="c1()"></div>
            </div>
            <div id="ee2" class="e2" data-aos="fade-up-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <img class=" excel_pic m-auto" src="/images/a1.png" onClick="c2()">
            </div>
        </div>
    </div>

</div>
</div>