<div class="">
    <h2 class="heading1">Tableau</h2>
    <div class="row d-flex justify-content-around m-2 my-5">
        <div class="col-lg-7 my-auto border2">
            <div class="tableauPic" data-aos-duration="1000">
                <img class="" src="/images/a.png" data-aos="zoom-out-left" data-aos-duration="3000" alt="" width="100%"
                    height="auto">
            </div>
        </div>
        <div class="col-lg-4 border2 my-5 matter" data-aos="fade-up" data-aos-duration="3000">
            <p>Worked on visualizing data in an effective way, wherein I used <kbd class="text-dark bg-white">Tableau</kbd>
                as a
                tool for generating
                graph.
            </p>
            <p>I created divergent graph which gives a clear representation of large volume of data in an organized and
                efficient
                manner where reader can infer the meaning of the data.</p>
        </div>
    </div>
</div>