<div class="">
    <h2 class="heading1">Tableau</h2>
    <div class="row d-flex justify-content-around m-2 my-5">
        <div class="col-lg-7 border2">
            <div class="tableauPic" data-aos-duration="1000">
                <img class="" src="/images/a.png" data-aos="zoom-out-left" data-aos-duration="3000" alt="" width="100%"
                    height="auto">
            </div>
        </div>
        <div class="col-lg-4 border2 my-5 matter">
            <p>et praesentium nobis expedita similique beatae tenetur. Distinctio</p>
            <p>et praesentium nobis expedita similique beatae tenetur. Distinctio</p>
            <p>et praesentium nobis expedita similique beatae tenetur. Distinctio</p>
        </div>
    </div>
</div>