<div class="parallax responsive">

    <div class="row">
        <div class=" pp col-md-4 col-sm-12">
            <img class="pp1" src="/images/avatars/1.png" alt="" width="100" height="100">
        </div>
        <div class="col-md-8">
            <div class="cmd">
                <div class="cmd_header">

                </div>
                <div class="cmd_body">
                    <div class="type">
                        <div id="typedtext"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>