!
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/dot.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/demo.css" rel="stylesheet">
    <link href="css/nav.css" rel="stylesheet">
    <link href="css/type.css" rel="stylesheet">

    <link href="css/ti.css" rel="stylesheet">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/node_modules/aos/dist/aos.css">

    <script src="js/dot/modernizr.js"></script>
</head>

<body>
    <div class="top-container" id="section1">
        <% include Sections/topContainer %>

    </div>

    <div class="header" id="myHeader">
        <div class="row">
            <div class="col-xs-1">

                <img class="logo" src="/images/avatars/logo1.png" alt="">
            </div>
            <div class="col-xs-11">
                <h1>Gundu</h1>
            </div>
        </div>
    </div>

    <div class="content margin">

        <nav class="" id="cd-vertical-nav">
            <ul>
                <li>
                    <a href="#section1" data-number="1">
                        <span class="cd-dot"></span>
                        <span class="cd-label">Intro</span>
                    </a>
                </li>
                <li>
                    <a href="#section2" data-number="2">
                        <span class="cd-dot"></span>
                        <span class="cd-label">Education</span>
                    </a>
                </li>
                <li>
                    <a href="#section3" data-number="3">
                        <span class="cd-dot"></span>
                        <span class="cd-label">Theatre</span>
                    </a>
                </li>
                <li>
                    <a href="#section4" data-number="4">
                        <span class="cd-dot"></span>
                        <span class="cd-label">Java</span>
                    </a>
                </li>
                <li>
                    <a href="#section5" data-number="5">
                        <span class="cd-dot"></span>
                        <span class="cd-label">TAbleau</span>
                    </a>
                </li>
                <li>
                    <a href="#section6" data-number="6">
                        <span class="cd-dot"></span>
                        <span class="cd-label">MISS</span>
                    </a>
                </li>
                <li>
                    <a href="#section7" data-number="7">
                        <span class="cd-dot"></span>
                        <span class="cd-label">Contact</span>
                    </a>
                </li>
            </ul>
        </nav>
        <a class="cd-nav-trigger cd-img-replace">Open navigation
            <span></span>
        </a>

        <section id="section2" class="cd-section">


            <% include Sections/education%>

        </section>
        <!-- cd-section -->

        <section id="section3" class="cd-section">
            <% include Sections/theatre%>
        </section>
        <!-- cd-section -->

        <section id="section4" class="cd-section">


            <% include Sections/java %>

        </section>
        <!-- cd-section -->

        <section id="section5" class="cd-section">

            <% include Sections/tableau %>

        </section>
        <!-- cd-section -->

        <section id="section6" class="cd-section">
            <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto numquam, totam iusto officia
                earum perferendis,
                culpa ad atque eveniet praesentium nobis expedita similique beatae tenetur. Distinctio vel tenetur, id
                cum.&rdquo;</p>
        </section>
        <!-- cd-section -->

        <section id="section7" class="last">
            <% include Sections/contact %>
            <!-- end of parallax -->
            <% include Sections/icons %>

        </section>

    </div>
    <script src="ti.js"></script>
    <script src="nav.js"></script>
    <!-- <script src="type.js"></script> -->
    <script src="click.js"></script>
    <script src="js/dot/jquery-2.1.1.js"></script>
    <script src="js/dot/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

<script src="/node_modules/aos/dist/aos.js"></script>


<script>
    AOS.init({
        once: true,
    });
</script>
<script>
    $('.carousel').carousel({
        interval: 2000
    })
</script>

</html>