/* Useful stuff and generic styling */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    color: inherit;
    background: rgba(34, 37, 38, 1);
    color: #333;
    font-size: 2vw;
}

@media screen and (max-width: 600px) {
    .body {
        font-size: 5vw;
    }
}

@media screen and (max-width: 800px) {
    .body {
        font-size: 4vw;
    }
}

@media screen and (max-width: 1000px) {
    .body {
        font-size: 3vw;
    }
}
.margin{
    /* margin-top: 0px; */

    margin-left: -16px;
    margin-right: -16px;
}

.red{
    background-color: blue;
    height: 10%
}

.slide{
    height: 300px;
    weight: 200px;
}

pre{
   background-color: aquamarine;
       margin-top: -10px;
}

.left{
    float: right;
}

.heading1{
margin-top: 50px;
margin-left: 50px;
color: aquamarine
}

.heading2 {
    margin-top: 30px;
    margin-left: 50px;
    color: aquamarine
}

.logo{
     width: 40px;
     height: 40px;
     padding-top: 10px;
     padding-left: 10px;
     padding-right: 10px;
     box-sizing: content-box;

}

.cmd{
    width: 90%;
    height: auto;
    /* border: 2px solid red; */
    margin-top: 30px;
    background-color: rgba(85, 122, 149, 0.295);
    border-top-right-radius: 50px;
    border-bottom-left-radius: 20px;
    margin-left: 20px;

}

.cmd_header{
    height: 7%;
    background-color: #1b3044;
    border-top-right-radius: 50px;
}

.cmd_body{
   
   color: red;
}

.pp{
    width: 50%;
    margin-top: 30px;
    height: 400px;
    position: relative;
}

@media only screen and (max-width: 768px) {
    .pp {
        width: 50%;
        margin-top: 30px;
        height: 200px;
    }
    .cmd {
        width: 90%;
        height: auto;
        /* border: 2px solid red; */
        margin-top: 30px;
        /* background-color: rgba(17, 16, 16, 0.575); */
        border-top-right-radius: 20px;
        border-bottom-left-radius: 10px;
        margin-left: 20px
    }
    .cmd_header {
        height: 7%;
        /* background-color: black; */
        border-top-right-radius: 20px;
    }


}
.pp1{
    height: 200px;
    width: 200px;
    position: absolute;
    /* z-index: 20; */
}
.photo{
  width: 100%;
  height: 100%;
}

.parallax {
    /* The image used */
    background-image: url('../images/laptop.jpg');

    /* Full height */
    /* height: 70%; */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.center{
    top:50%;
    left:50%;
    position: absolute;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
   /* margin: 100px; */

}

.borderr{
width: 100%;
height: auto;
/* border: 2px solid transparent; */
margin: 20px;
padding: 20px;
}



.border1 {
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
    margin: 5px;
}


.border2 {
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
    margin-left: 5px;
    /* margin-top:-40px; */
    margin-bottom: 30px;
    margin-right: 10px;
    
}

.photo_back{
    background-color: rgb(47, 68, 83);
    border: 3px solid rgb(47, 68, 83)

}

.universityName{
    color:white
}

@media only screen and (max-width: 768px) {
.universityName {
   font-size: 4vw;
   text-align: center;
}
.borderr {
    margin: 5px;
    padding: 0px;
    color: red;
}
.univ_para{
    text-align: center;
}

}




.row {
    margin-right: 0px;
    margin-left: 10px;
    padding-left: 5px;
}

.symbol{
    max-height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        background-color: #a3bbbd;
        border-radius: 15px;
        padding: 15px;
       

}




@media only screen and (max-width: 950px) {
.symbol {
    /* max-height: 100px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
}
}
@media only screen and (max-width: 1000px) {

    .photo {
        width: 60%;
        height: 100%;
    }

}


@media only screen and (max-width: 550px) {

    .photo {
        width: 100%;
        height: 100%;
    }

}

.parallax1 {
    /* The image used */
    background-image: url('../images/map.jpg');

    /* Full height */
    /* height: 70%; */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 55%;

}

.excel_pic{
    
    width: 80%;
    height: 300px;
    border: 4px solid white;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
}

.excel_pic:hover{
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      -10px 15px 20px rgba(0, 0, 0, 0.22);
}


.e1{
    position: relative;
    
}

.e2{
    position: absolute;
    margin-top: -28%;
    margin-left: 10%;

}

@media only screen and (max-width: 968px) {
.e2 {
    display: none
}
}

@media only screen and (max-width: 568px) {
    .excel_pic {

        width: 100%;
        height: 200px;
    }
}


.contact{

    height: 90%;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.205);
   
    margin:auto;
    border-radius: 50px;
    vertical-align: middle;
}


@media only screen and (max-width: 968px) {
.contact {

    width: auto;
    margin: 0px 30px 0 30px;
}
}

.formclass{
    margin:auto;
}

.border3{

    /* width:auto; */
        height: 90px;
    /* border: 2px solid red;  */
    padding: 10px 20px 10px 15px;
}

@media only screen and (max-width: 968px) {
.border3 {

    width: auto;
    height: 50px;
}

}

.white{
    background-color: rgb(255, 255, 255);
    width:100%;
    height: auto;
}

.contact_heading{
    text-align: center;
        font-size: 20px;
        font-size: 1.25rem;
        /* font-weight: 900; */
        letter-spacing: 3px;
        text-transform: uppercase;
        color: red;
}

@media only screen and (max-width: 768px) {
    .white {
        display:none
    }
}
