body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #86B3D1;

}

.top-container {
    background-color: #f1f1f1;
    text-align: center;
    margin-bottom: -60px;

}

@media only screen and (max-width: 768px) {
    .top-container {
        margin-bottom: 0px;
        /* width: 115%; */
        overflow-x: hidden;

    }
}

.header {
    padding-left: 16px;
    background: rgba(14, 93, 146, 0.781);
    color: rgba(10, 41, 63, 0.938);
    z-index: 20;
    border-bottom: 2px solid rgb(7, 95, 158);

}

.heading {
    visibility: hidden;

}

.content {
    /* padding: 16px; */

}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 50px;
}